<template>
    <div>
        <v-card class="mx-auto" max-width="400">
            <img :src="getImageSrc + cartProp.product.image" style="width : 100% ; height : 200px;"
                v-if="cartProp.product.image" />
            <img v-else src="@/assets/images/images.png" style="height: 200px; width : 100%" />
            <v-card-text class="pt-4">
                <span>Product Name :</span>
                {{ cartProp.product.name }}
            </v-card-text>
            <v-card-text v-if="cartProp.product.desc">
                <span>Product description :</span>
                <span>{{ cutDescription(cartProp.product.desc) }}</span>
            </v-card-text>
            <v-card-text>
                <span>Product Price :</span>
                <span>{{ cartProp.product.price }}</span>
            </v-card-text>
            <v-card-text v-if="cartProp.product.color">
                <span>Product Color :</span>
                <span>{{ cartProp.product.color }}</span>
            </v-card-text>
            <v-card-text v-if="cartProp.product.date">
                <span>Product Date :</span>
                <span>{{ cartProp.product.date }}</span>
            </v-card-text>
            <v-card-actions>
                <v-btn color="#a95a5a" @click="deletCart(cartProp.id)">
                    delete from cart
                </v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
export default {
    props: ['cartProp'],
    computed: {
        getImageSrc() {
            return process.env.VUE_APP_BACKEND
        }
    },
    methods: {
        cutDescription(text) {
            if (text.lenght > 20) {
                return text.slice(0, 20) + '...';
            } else {
                return text;
            }
        },
        deletCart(cartId) {
            this.loading = true
            this.$http
                .delete(`/cart/${cartId}/`)
                .then((response) => {
                    this.loading = false;
                    this.$emit('getcartListAgain')
                })
                .catch((error) => {
                    console.log(error)
                })
        }
    }
}
</script>

<style lang="scss" scoped></style>