<template>
    <div id="recaptcha-main" data-callback="dataCallback" data-expired-callback="dataExpiredCallback" class="g-recaptcha"
        :data-sitekey="site_key"></div>
</template>

<script>
export default {
    name: "recaptcha",
    data: function () {
        return {
            site_key: "6Lc2DJ0dAAAAAFqC_ikEIlGbZEpNSZ2e0xX9qtGn"
        };
    },
    created() {
        this.$nextTick(function () {
            grecaptcha.render('recaptcha-main', {
                callback: this.onloadCallback,
                'expired-callback': this.onexpiredCallback
            });
        })
        // setTimeout(() => {
        //     grecaptcha.render('recaptcha-main'); // 'recaptcha-main' is the id that was assigned to the widget
        // }, 2000);
    },
    methods: {
        onloadCallback(token) {
            this.$emit('getToken', token)
        },
        onexpiredCallback() {
            this.$emit('getToken', "")
        }
    }
}
</script>