<template>
    <div class="modal">
        <div width="auto">
            <v-card class="card">
                <div class="modal-header">
                    <span class="modal-title">Add Product</span>
                    <span @click="closeModal" class="close-btn">
                        <img src="@/assets/images/xmark-solid.svg" class="xmark" />
                    </span>
                </div>
                <v-form class="form" v-model="valid">
                    <v-container>
                        <v-row>
                            <v-col cols="6">
                                <v-text-field v-for="(input, index) in inputs" v-model="product[input.label]"
                                    :disabled="input.disabled" :label="input.label" :key="index"
                                    :rules="input.rules"></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-autocomplete v-model="product.category" :disabled="isUpdating" :rules="rules"
                                    :items="dropDownInputCategory" color="blue-grey lighten-2" label="category"
                                    item-text="label" item-value="value">
                                    <template v-slot:item="data">
                                        <v-list-item-content>
                                            <v-list-item-title v-html="data.item.label"></v-list-item-title>
                                        </v-list-item-content>
                                    </template>
                                </v-autocomplete>
                                <v-select filled v-model="product.color" :items="dropDownInputColor"
                                    label="color"></v-select>
                            </v-col>
                        </v-row>
                    </v-container>
                    <v-date-picker width="100%" :disabled="dropDownInputDateDisabled"
                        v-model="product.date"></v-date-picker>
                </v-form>
                <v-file-input v-model="product.image" accept="image/*" placeholder="Pick an image" prepend-icon="mdi-camera"
                    label="product image"></v-file-input>
                <span class="error" v-for="(error, index) in errorList" :key="index">
                    <span v-for="(text, index) in error" :key="index">{{ text }}</span></span>
                <v-card-actions>
                    <v-btn color="#4c968c" block @click="addProduct()" :disabled="!valid || isdisableSubmit">Add</v-btn>
                </v-card-actions>
            </v-card>
        </div>
    </div>
</template>

<script>
import Rules from "@/plugins/rules";

export default {
    mounted() {
        console.log(this.modalProp)
    },
    props: {
        modalProp: {
            type: Object,
            default: () => ({}),
        },
    },
    data: () => ({
        loading: false,
        isUpdating: false,
        productIdForUploadImage: 0,
        valid: true,
        isdisableSubmit: false,
        product: {
            name: "",
            price: 0,
            date: "",
            desc: "",
            color: "",
            category: 1,
            image: null,
        },
        rules: [Rules.requireData],
        inputs: [
            {
                value: "",
                label: "name",
                rules: [Rules.requireData],
            },
            {
                value: 0,
                label: "price",
                rules: [Rules.requireData, Rules.priceData],
            },
            {
                value: "",
                label: "desc",
                rules: [Rules.requireData],
            },
        ],

        dropDownInputCategory: [
            { value: 1, label: "sport" },
            { value: 2, label: "car" },
            { value: 3, label: "other" },
        ],
        dropDownInputDateDisabled: true,
        datePickerData: "",
        dropDownInputColor: ["red", "green", "blue", "yellow"],
        fileValue: "",
        rulesImage: [
            (value) => {
                return (
                    !value ||
                    !value.length ||
                    value[0].size < 2000000 ||
                    "Avatar size should be less than 2 MB!"
                );
            },
        ],
        errorList: [],
    }),
    watch: {
        isUpdating(val) {
            if (val) {
                setTimeout(() => (this.isUpdating = false), 3000);
            }
        },
        "product.category": function (newCategory, oldCategory) {
            if (newCategory == 1) {
                this.dropDownInputDateDisabled = true;
            } else {
                this.dropDownInputDateDisabled = false;
            }
        },
        // fileValue(val) {
        //     console.log(val)

        // },
    },
    methods: {
        addProduct() {
            const formData = new FormData();
            Object.entries(this.product).forEach((element) => {
                if (element[0] == "image") {
                    if (this.product.image) {
                        formData.append("image", element[1]);
                    }
                } else {
                    formData.append(element[0], element[1]);
                }
            });
            console.log(formData);
            this.$http
                .post("/products/owner/", formData)
                .then((response) => {
                    this.loading = false;
                    this.errorList = [];
                    this.$emit("getProductList");
                })
                .catch((error) => {
                    this.loading = false;
                    this.errorList = [];
                    Object.values(error.response.data).forEach((element) => {
                        this.errorList.push(element);
                    });
                });
        },
        closeModal() {
            console.log("called")
            this.modalProp.isOpenAddAdModal = false;
            console.log(" this.modalProp.isOpenAddAdModal: ", this.modalProp.isOpenAddAdModal)

            // this.$emit('closeModal')
        },
        selectColor(colorValue) {
            this.product.color = colorValue;
        },
    },
};
</script>

<style lang="scss" scoped>
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 59%);
    z-index: 11;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-title {
    font-size: 24px;
    color: #4c968c;
    font-weight: 600;
}

.close-btn {
    padding: 10px;
    cursor: pointer;
}

.card {
    padding: 14px;
    width: 700px;
}

.error {
    color: rgb(175, 42, 42);
    padding: 10px 0;
    font-size: 14px;
}

.xmark {
    width: 26px;
    height: 26px;
}
</style>
