<template>
    <div>
        <v-card class="mx-auto" max-width="400">
            <v-img class="align-end text-white" height="200" :src="getImageSrc + cardProp.image" cover
                v-if="cardProp.image">
            </v-img>
            <v-img v-else src="@/assets/images/images.png" style="height: 200px;"></v-img>
            <v-card-text class="pt-4">
                <span>Product Name :</span>
                {{ cardProp.name }}
            </v-card-text>
            <v-card-text v-if="cardProp.desc">
                <span>Product Description :</span>
                <span>{{ cutDescription(cardProp.desc) }}</span>
            </v-card-text>
            <v-card-text>
                <span>Product Price :</span>
                <span>{{ cardProp.price }}</span>
            </v-card-text>
            <v-card-actions>
                <v-btn @click="goToDetailPage()" color="#d5fff8" class="router-style">
                    detail
                </v-btn>
                <v-btn color="#4c968c" @click="addToCart(cardProp.id)" v-if="!cardProp.in_cart" :disabled="isOwner"
                    style="margin-left : 10px">
                    add to cart
                </v-btn>

                <v-btn @click="deleteProduct" color="#a95a5a" style="margin-left : 10px" v-else>Delete</v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>

export default {
    props: ['cardProp'],
    data: () => ({
        product: 0,
    }),
    computed: {
        isOwner() {
            if (localStorage.getItem("userId") == this.cardProp.user.id) {
                return true
            } else {
                return false
            }
        },
        getImageSrc() {
            return process.env.VUE_APP_BACKEND
        }
    },
    methods: {
        cutDescription(text) {
            if (text.lenght > 20) {
                return text.slice(0, 20) + '...';
            } else {
                return text;
            }
        },
        deleteProduct() {
            this.isLoading = true,
                this.$http
                    .delete(`/products/${this.cardProp.id.toString()}/owner/`)
                    .then((response) => {
                        this.loading = false;
                        this.$emit('getProductListAgain')
                        this.productDetail = response.data
                    })
                    .catch((error) => {
                        console.log(error)
                    })
        },
        addToCart(product) {
            this.$http
                .post('/cart/', { product })
                .then((response) => {
                    this.loading = false;
                    this.$router.push("/cart")
                    this.$emit('getProductListAgain')
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        goToDetailPage() {
            this.$router.push(`detail/${this.cardProp.id}`)
        }
    }
}
</script>

<style lang="scss" scoped>
.router-style {
    text-decoration: none;
    border: 1px solid #319c8aff;
    padding: 8px;
    border-radius: 10px;
    color: #319c8aff;
}
</style>