<template>
  <div class="login">
    <span class="login-title">Forget Password</span>
    <v-form v-model="valid" class="form-style">
      <v-text-field v-model="user.email" :rules="[rules.required, rules.email]" label="Email"
                    class="input-login"></v-text-field>

      <span v-for="(error, index) in errorList" :key="index">
        <span class="error-style" v-for="(text, index) in error" :key="index">{{
            text
          }}</span></span>
      <div class="btns-contain">
<!--        <v-btn class="button-signup" @click="sendEmailForgetPass" outlined-->
<!--               color="#FF6F37FF">Send email-->
<!--        </v-btn>-->
        <v-btn class="button-signup" @click="$router.push('/change-password')" outlined
               color="#FF6F37FF">Send email
        </v-btn>
      </div>
    </v-form>
  </div>
</template>

<script>
import Rules from '@/plugins/rules';

export default {
  data: function () {
    return {
      user: {
        email: '',
      },
      valid: true,
      errorText: null,
      show1: false,
      show2: true,
      loading: false,
      rules: {
        email : Rules.emailRule,
        required: Rules.requireData
      },
      errorList: [],

    };
  },
  mounted() {
    localStorage.removeItem("token");
    localStorage.removeItem("userId");
  },
  methods: {
    sendEmailForgetPass() {
      if (this.user.email) {
        this.loading = true
        // this.$http
        //     .post('/user/login/', this.user)
        //     .then((response) => {
        //       this.loading = false;
        //       this.errorList = []
        //       localStorage.setItem('token', response.data.token)
        //       this.$router.push('/profile');
        //     })
        //     .catch((error) => {
        //       this.loading = false;
        //       this.errorList = []
        //
        //       Object.values(error.response.data).forEach(element => {
        //         this.errorList.push(element)
        //       });
        //     })
      }
    },
  }
}
</script>

<style lang="scss" scoped>
.login {
  background-color: rgb(224, 187, 173);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgba(138, 138, 138, 0.411);
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.651);
  padding: 60px 20px;
  width: 500px;
}

.input-login {
  width: 90% !important;

}

.button-login {
  background-color: rgb(172, 172, 172);
  width: 50% !important;
  margin: 30px auto 0 auto;
}

.button-signup {
  width: 90% !important;
  margin: 30px auto 0 auto;
}

.forget-pass {
  font-size: 16px;
  margin-top: 20px;
  color: rgb(66, 59, 105);
  font-weight: 400;
  text-decoration: rgb(194, 183, 255);
}

.login-title {
  font-size: 30px;
  color: rgb(66, 59, 105);
  font-weight: 600;
  text-decoration: rgb(194, 183, 255);
  margin: 20px 0;
}

.login-text-style {
  font-size: 20px;
  color: rgb(66, 59, 105);
  font-weight: 600;
  text-decoration: rgb(194, 183, 255);
}

.signup-text-style {
  font-size: 20px;
  color: rgb(66, 59, 105);
  font-weight: 400;
  text-decoration: rgb(194, 183, 255);
}

.error-style {
  color: rgb(175, 42, 42);
  padding: 10px 0;
  font-size: 14px;
}

.links-contain {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
}

.btns-contain {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
}
</style>