<template>
    <div class="prime-style">
        <v-container>
            <v-row justify="center" align="center">
                <v-col cols="12" lg="4" md="5" sm="7" xs="8" class="text-center">
                    <v-card color="basil">
                        <v-tabs v-model="tab" background-color="transparent" color="basil" grow>
                            <v-tab v-for="item in items" :key="item">
                                {{ item }}
                            </v-tab>
                        </v-tabs>
                        <v-tabs-items v-model="tab">
                            <v-tab-item>
                                <v-card color="basil" flat>
                                    <LoginForm v-if="tab == 0" />
                                </v-card>
                            </v-tab-item>
                            <v-tab-item>
                                <v-card color="basil" flat>
                                    <SignupForm v-if="tab == 1" @submissionSent="tab = $event" />
                                </v-card>
                            </v-tab-item>
                        </v-tabs-items>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>

export default {
    name: "loginPrime",
    mounted() {
    },
    data: function () {
        return {
            tab: null,
            items: [
                'LOGIN', 'REGISTER'
            ],
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        };
    },
    components: {
        LoginForm: () => import('@/components/loginPrime/LoginForm.vue'),
        SignupForm: () => import('@/components/loginPrime/SignupForm.vue'),
    },
}

</script>

<style scoped></style>