
<template>
  <div class="login">
    <span class="login-title">Login </span>
    <v-form v-model="valid" class="form-style">
      <v-text-field v-model="user.username" :rules="[rules.username, rules.required]" label="Username"
                    class="input-login"></v-text-field>
      <v-text-field v-model="user.password" :rules="[ rules.required]" label="Password"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :type="show1 ? 'text' : 'password'"
                    name="input-10-1"
                    @click:append="show1 = !show1" class="input-login"></v-text-field>
      <span v-for="(error, index) in errorList" :key="index">
        <span class="error-style" v-for="(text, index) in error" :key="index">{{
            text
          }}</span></span>
      <div class="btns-contain">
        <v-btn :loading="loading" class="button-login" @click="login()" :disabled="!valid" depressed color="indigo" dark> Login</v-btn>
        <v-btn class="button-signup" @click="$router.push('/signup')"  outlined
               color="indigo">signup</v-btn>

      </div>
      <br/><div class="links-contain">

      <div @click="$router.push('/forget-password')" class="forget-pass">forget password?</div>

    </div> </v-form>
  </div>
</template>

<script>
import Rules from '@/plugins/rules';

export default {
  data: function () {
    return {
      user: {
        username: '',
        password: '',
      },
      valid: true,
      errorText: null,
      show1: false,
      show2: true,
      loading: false,
      rules: {
        username: Rules.usernameRule,
        password: Rules.passwordRule,
        required: Rules.requireData
      },
      errorList: [],

    };
  },
  mounted() {
    localStorage.removeItem("token");
    localStorage.removeItem("userId");
  },
  methods: {
    login() {
      if (this.user.username && this.user.password) {
        this.loading = true
        this.$http
            .post('/api/token/v1/access/', this.user)
            .then((response) => {
              console.log(response.data)
              this.loading = false;
              this.errorList = []
              localStorage.setItem('token', response.data.access)
              console.log("ss")
              this.$router.push('/profile');
            })
            .catch((error) => {
              this.loading = false;
              this.errorList = []

              Object.values(error.response.data).forEach(element => {
                this.errorList.push(element)
              });
            })
      }
    },
  }
}
</script>

<style lang="scss" scoped>
.login {
  background-color: rgb(147, 143, 248);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgba(138, 138, 138, 0.411);
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.651);
  padding: 60px 20px;
  width: 500px;
}

.input-login {
  width: 90% !important;
}

.button-login {
  background-color: rgb(172, 172, 172);
  width: 50% !important;
  margin:30px auto 0 auto;
}
.button-signup {
  width: 50% !important;
  margin:30px auto 0 auto;
}

.forget-pass{
  font-size: 16px;
  margin-top: 20px;
  color: rgb(66, 59, 105);
  font-weight: 400;
  text-decoration: rgb(194, 183, 255);
}

.login-title {
  font-size: 30px;
  color: rgb(66, 59, 105);
  font-weight: 600;
  text-decoration: rgb(194, 183, 255);
  margin: 20px 0;
}

.login-text-style {
  font-size: 20px;
  color: rgb(66, 59, 105);
  font-weight: 600;
  text-decoration: rgb(194, 183, 255);
}
.signup-text-style {
  font-size: 20px;
  color: rgb(66, 59, 105);
  font-weight: 400;
  text-decoration: rgb(194, 183, 255);
}

.error-style {
  color: rgb(175, 42, 42);
  padding: 10px 0;
  font-size: 14px;
}

.links-contain{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
}

.btns-contain{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
}
</style>