<template>
  <div class="signup">
    <span class="profile-title">Profile </span>
    <FormComponent :form-prop="user" @getProfileData="getInformation"/>
  </div>
</template>

<script>
import FormComponent from "@/components/FormComponent.vue";

export default {
  components: {FormComponent},

  data: function () {
    return {
      user: {
        first_name: "",
        last_name: "",
        phone: "",
        address: "",
        email: "",
        accesses :[]
      },
    };
  },
  mounted() {
    this.getInformation();
  },
  methods: {
    getInformation() {
      this.loading = true;
      this.$http
          .get("/user/profile/")
          .then((response) => {
            this.user = response.data;
            this.user.accesses = [
              {
                name:"app1",
                value: false,
              },
              {
                name:"app2",
                value: true,
              },
              {
                name:"app3",
                value: false,
              }
            ]
            localStorage.setItem("userId", response.data.id);
          })
          .catch((error) => {
            console.log(error);
          })
          .finally((_) => {
            this.loading = false;
          });
    },
  },
};
</script>

<style lang="scss" scoped>
.form-style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgba(138, 138, 138, 0.411);
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.651);
  padding: 60px 20px;
  width: 40%;
  margin: auto;
}

.input-login {
  width: 900%;
  margin: auto;
}

.button {
  background-color: rgb(172, 172, 172);
  width: 50% !important;
  margin: auto;
}

.profile-title {
  font-size: 30px;
  color: rgb(66, 59, 105);
  font-weight: 600;
  text-decoration: rgb(194, 183, 255);
  margin: 20px 0;
}

.signup {
  background-color: rgb(204, 248, 233);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin-left: 10px;
}

.btn-edit {
  background-color: rgb(190, 255, 152) !important;
}

.btn-logout {
  background-color: rgb(255, 182, 149) !important;
}

.error {
  color: rgb(175, 42, 42);
  padding: 10px 0;
  font-size: 14px;
}
</style>
