<template>
  <div class="signup">
    <span class="signup-title">Signup</span>
    <FormComponent></FormComponent>
  </div>
</template>

<script>
import FormComponent from '@/components/FormComponent.vue';

export default {
  components: { FormComponent },

  data: function () {
    return {
      formProp: {
        isProfile: false,
      },
    };
  },
  mounted() {
    localStorage.removeItem("token");
    localStorage.removeItem("userId");
  },
  methods: {
    signup() {
      this.loading = true;
      this.$http
        .post('/user/register/', this.user)
        .then((response) => {
          this.$router.push("/login");
          this.errorList = [];
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          this.errorList = [];
          Object.values(error.response.data).forEach(element => {
            this.errorList.push(element);
          });
        });
    },
    goToLogin() {
      this.$router.push("/login");
    }
  },
}
</script>

<style lang="scss" scoped>
.input-login {
  width: 90%;
  margin: auto;
}

.signup-title {
  font-size: 30px;
  color: rgb(66, 59, 105);
  font-weight: 600;
  text-decoration: rgb(194, 183, 255);
  margin: 20px 0;
}

.button-signup {
  background-color: rgb(172, 172, 172);
  width: 50% !important;
  margin: auto;
}

.signup {
  background-color: rgb(194, 183, 255);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-text-style {
  font-size: 20px;
  color: rgb(66, 59, 105);
  font-weight: 600;
  text-decoration: rgb(194, 183, 255);
  margin-top: 20px;
}

.error {
  color: rgb(175, 42, 42);
  padding: 10px 0;
  font-size: 14px;
}
</style>
