<template>
    <v-container>
        <v-row justify="space-between">
            <v-col cols="11">
                <v-sheet class="pa-2 ma-2">
                    <span class="title-style">Product Detail</span>
                </v-sheet>
            </v-col>
        </v-row>
        <v-row justify="center" align="center">
            <v-col cols="10">
                <div class="product-box">
                    <img src="" />
                    <v-container>
                        <v-row justify="space-between">
                            <v-col cols="6">
                                <img :src="getImageSrc + productDetail.image"
                                    style="width : 100% ; height : 250px;" /><br /><br />
                            </v-col>
                            <v-col cols="6">
                                <span>Product Name : </span>
                                <span>{{ productDetail.name }} </span>
                                <br />
                                <br />
                                <span>Product Price : </span>
                                <span>{{ productDetail.price }} </span>

                                <span v-if="productDetail.color">
                                    <br />
                                    <br />Product Color : </span>
                                <span>{{ productDetail.color }} </span>

                                <span v-if="productDetail.date">
                                    <br />
                                    <br />Product Date : </span>
                                <span v-if="productDetail.date">{{ productDetail.date }} </span>
                                <br />
                                <br />
                                <span>Product Owner : </span>
                                <span>{{ productDetail.user.first_name }} {{ productDetail.user.last_name }}</span>
                                <br />
                                <br />
                                <div v-if="isOwner">
                                    <v-btn @click="deleteProduct" color="#a95a5a">Delete
                                        Product</v-btn><br /><br />
                                    <v-btn @click="isEditing = true" color="#dcf17d" style="margin-left : 10px">Edit
                                        Product</v-btn>
                                </div>
                                <div v-else>
                                    <v-btn @click="addToCart(productDetail.id)" color="#6de577"
                                        :disabled="productDetail.in_cart">add to cart</v-btn>
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </div>
            </v-col>
        </v-row>

        <v-row justify="center" align="center" v-if="isEditing">
            <v-col cols="10">
                <div class="product-box">
                    <v-container>
                        <v-row justify="space-between">
                            <v-col cols="12">
                                <v-form class="form" v-model="valid">
                                    <v-text-field v-model="productForEdit.name" label="Product Name"
                                        :rules="[rules.required]"></v-text-field>
                                    <v-text-field v-model="productForEdit.price" label="Product Price"
                                        :rules="[rules.required]"></v-text-field>
                                    <v-text-field v-model="productForEdit.desc" label="Product Description"></v-text-field>
                                    <v-combobox v-model="productForEdit.color" :items="colors" label="Color"></v-combobox>
                                    <v-autocomplete v-model="productForEdit.category" :disabled="isUpdating"
                                        :rules="[rules.required]" :items="categories" filled color="blue-grey lighten-2"
                                        label="category" item-text="label" item-value="value">
                                        <template v-slot:item="data">
                                            <v-list-item-content>
                                                <v-list-item-title v-html="data.item.label"></v-list-item-title>
                                            </v-list-item-content>
                                        </template>
                                    </v-autocomplete>
                                    <v-date-picker width="100%" v-if="productForEdit.category != 1"
                                        v-model="productForEdit.date"></v-date-picker>
                                    <v-file-input v-model="imageFile" accept="image/*" placeholder="Pick an image"
                                        prepend-icon="mdi-camera" label="product image"></v-file-input>
                                    <p class="error" v-for="(error, index) in errorList" :key="index">
                                        <span v-for="(text, index) in error" :key="index">{{ text
                                        }}</span>
                                    </p>
                                    <v-btn @click="editProduct()" color="#dcf17d" style="margin-top : 10px"
                                        :disabled="!valid || isdisableSubmit">Edit
                                        Product</v-btn>
                                </v-form>
                            </v-col>
                        </v-row>
                    </v-container>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import Rules from '@/plugins/rules';

export default {
    mounted() {
        this.getProductDetail()
    },

    data: () => ({
        isLoading: false,
        valid: true,
        dropDownInputDateDisabled: false,
        productDetail: {
            user: {},
            name: '',
            price: 0,
            date: '',
            desc: '',
            color: '',
            category: 1,
            image: null
        },
        productForEdit: {
            user: {},
            name: '',
            price: 0,
            date: '',
            desc: '',
            color: '',
            category: 1,
            image: null
        },
        productDetailString: "",
        productForEditSrting: "",
        imageFile: null,
        isUpdating: false,
        isEditing: false,
        categories: [
            { value: 1, label: 'sport' },
            { value: 2, label: 'car' },
            { value: 3, label: 'other' },
        ],
        errorList: [],
        colors: [
            'red',
            'green',
            'blue',
            'yellow',
        ],
        rules: {
            required: Rules.requireData,
        }
    }),

    watch: {
        valid(val) {
            console.log("valid ", val)
        },
        isUpdating(val) {
            if (val) {
                setTimeout(() => (this.isUpdating = false), 3000)
            }
        },
        'productForEdit.category': function (newCategory, oldCategory) {
            if (newCategory == 1) {
                this.dropDownInputDateDisabled = true
            }
            else {
                this.dropDownInputDateDisabled = false
            }
        },
    },
    computed: {
        isOwner() {
            if (localStorage.getItem("userId") == this.productDetail.user.id) {
                return true
            } else {
                return false
            }
        },
        isdisableSubmit() {
            this.productForEditSrting = this.sortObjectAndString(this.productForEdit)
            if (this.productForEditSrting != this.productDetailString || this.imageFile) {
                console.log("false");
                return false
            } else {
                console.log("true");

                return true
            }
        },
        getImageSrc() {
            return process.env.VUE_APP_BACKEND
        }
    },

    methods: {
        getProductDetail() {
            this.isLoading = true,
                this.$http
                    .get(`/products/${this.$route.params.productId.toString()}/product/`)
                    .then((response) => {
                        this.loading = false;
                        this.productDetail = response.data
                        console.log(this.productDetail);
                        this.productForEdit = { ...this.productDetail }
                        this.productDetailString = this.sortObjectAndString(this.productDetail)

                    })
                    .catch((error) => {
                        console.log(error)
                    })
        },

        editProduct() {
            const formData = new FormData();
            Object.entries(this.productForEdit).forEach(element => {
                if (element[0] != "image") {
                    if (element[1] != null) {
                        formData.append(element[0], element[1]);
                    }
                }
                if (this.imageFile) {
                    formData.append("image", this.imageFile);
                }
            })
            this.$http
                .patch(`/products/${this.$route.params.productId.toString()}/owner/`, formData)
                .then((response) => {
                    this.loading = false;
                    this.isEditing = false
                    this.errorList = []
                    this.imageFile = null
                    this.productDetail = response.data
                    this.productForEdit = { ...this.productDetail }
                    this.productDetailString = this.sortObjectAndString(this.productDetail)
                    console.log(response.data);
                })
                .catch((error) => {
                    this.errorList = []
                    Object.values(error.response.data).forEach(element => {
                        this.errorList.push(element)
                    });
                    console.log(error)
                })
        },

        sortObjectAndString(objectForSort) {
            var sorted = {},
                key, testList = [];
            var objList = []
            objList = Object.entries(objectForSort),
                objList.forEach(item => {
                    if (item[0]) {
                        testList.push(item[0]);
                    }
                });
            testList.sort()
            testList.forEach(element => {
                sorted[element] = objectForSort[element];
            });
            return JSON.stringify(sorted);
        },

        addToCart(product) {
            this.isLoading = true
            if (localStorage.getItem("token")) {
                this.$http
                    .post('/cart/', { product })
                    .then((response) => {
                        this.loading = false;
                        this.$router.push("/cart")
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            }
            else {
                this.$router.push('/login')
            }
        },

        deleteProduct() {
            this.isLoading = true,
                this.$http
                    .delete(`/products/${this.productDetail.id.toString()}/owner/`)
                    .then((response) => {
                        this.loading = false;
                        this.$emit('getProductListAgain')
                        this.productDetail = response.data
                        this.$router.go(-1)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
        },
    },
}
</script>

<style lang="scss" scoped>
.title-style {
    font-size: 40px;
    color: #4c968c;
    font-weight: 600;
    text-decoration: #305c56;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.product-box {
    border: 1px solid #305c34;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}

.error {
    color: rgb(175, 42, 42);
    padding: 10px 0;
    font-size: 14px;
}
</style>