<template>
    <div class="container">
        <v-row justify="space-between">
            <v-col cols="11">
                <v-sheet class="pa-2 ma-2">
                    <span class="title-style">My Products</span>
                    <br />
                    <br />
                </v-sheet>
            </v-col>
            <v-col cols="1">
                <v-btn color="#4c968c" @click="openAddAdModal()">add product
                </v-btn>
            </v-col>
        </v-row>
        <div v-if="cards.length">
            <v-row align="start" justify="start">
                <v-col cols="4" v-for="(card, index) in cards" :key="index">
                    <ProductCard :cardProp="card" @getProductListAgain="getOwnProductList" />
                </v-col>
            </v-row>
            <div v-if="totalPage > 1" class="pagination">
                <img src="@/assets/images/circle-left-regular.svg" class="arrow-atyle" @click="minus" />
                <span class="current">{{ currentPage }} / {{ totalPage }}</span>
                <img src="@/assets/images/circle-right-regular.svg" class="arrow-atyle" @click="plus" />
            </div>
        </div>

        <div v-else class="empty-cart">
            <p> You dont have any product, please add.</p>
        </div>
        <AddModal :modalProp="addModal" v-if="addModal.isOpenAddAdModal" @closeModal="addModal.isOpenAddAdModal = false"
            @getProductList="getOwnProductList" />
    </div>
</template>

<script>
import ProductCard from "@/components/product/ProductCard.vue"
import AddModal from "@/components/product/AddModal.vue"

export default {
    name: "",
    components: {
        ProductCard,
        AddModal
    },
    mounted() {
        this.getOwnProductList()
    },
    data: () => ({
        isLoading: false,
        cards: [],
        addModal: {
            isOpenAddAdModal: false
        },
        currentPage: 1,
        totalPage: 1,
        item_per_page: 6
    }),
    methods: {
        getOwnProductList() {
            this.cards = []
            this.isLoading = true,
                this.addModal.isOpenAddAdModal = false
            this.$http
                .get('/products/owner/', { params: { page: this.currentPage, item_per_page: this.item_per_page } })
                .then((response) => {
                    this.loading = false;
                    this.totalPage = response.data.pages
                    response.data.result.forEach(element => {
                        element.in_cart = true
                        this.cards.push(element)
                    });
                })
                .catch((error) => {
                    this.loading = false;
                    console.log(error)
                })
        },
        openAddAdModal() {
            this.addModal.isOpenAddAdModal = true
        },
        minus() {
            if (this.currentPage > 1) {
                this.currentPage = this.currentPage - 1;
                this.isLoading = true,
                    this.cards = []
                this.$http
                    .get('/products/owner/', { params: { page: this.currentPage, item_per_page: this.item_per_page } })
                    .then((response) => {
                        this.loading = false;
                        this.totalPage = response.data.pages
                        response.data.result.forEach(element => {
                            this.cards.push(element)
                        });
                    })
                    .catch((error) => {
                        this.loading = false;
                        console.log(error)
                    })
            }
        },
        plus() {
            if (this.currentPage < this.totalPage) {
                this.currentPage = this.currentPage + 1;
                this.isLoading = true,
                    this.cards = []
                this.$http
                    .get('/products/owner/', { params: { page: this.currentPage, item_per_page: this.item_per_page } })
                    .then((response) => {
                        this.loading = false;
                        this.totalPage = response.data.pages
                        response.data.result.forEach(element => {
                            this.cards.push(element)
                        });
                    })
                    .catch((error) => {
                        this.loading = false;
                        console.log(error)
                    })
            }
        },
    },
}
</script>

<style lang="scss" scoped>
.title-style {
    font-size: 40px;
    color: #4c968c;
    font-weight: 600;
    text-decoration: #305c56;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.empty-cart {
    margin: 200px auto;
    width: 600px;
    height: 300px;
    border: 1px solid #305c56;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #50948b;
}

.arrow-atyle {
    width: 30px;
    margin: 0 16px;
}

.current {
    border: 1px solid rgb(24, 115, 94);
    border-radius: 10px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;

}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}
</style>