<script>
export default {
  name: "AccessesComponent",
  props: {
    accessList: {
      type: Array,
      default: () => ([]),
    },
  },
  data: function () {
    return {
      copyAccessList : []
    }},
  mounted(){
    this.copyAccessList = structuredClone(this.accessList);
  },
  methods : {
    requestChangeAccess(){
      this.$emit('reqChangeAccess',this.copyAccessList)
    }
  }
}
</script>

<template>
  <div >
  <div class="form-style">
    <v-checkbox
        class="mx-4"
            v-for="(object , index) in copyAccessList" :key="index"
            :label="object.name"
            color="indigo"
        v-model="object.value"
    ></v-checkbox>
  </div>
  <div class="mb-5" style="display: flex; align-items: center; justify-content: center">
    <v-btn class="button-signup" outlined color="indigo" @click="requestChangeAccess">request</v-btn>
    <br />
  </div>
  </div>
</template>

<style scoped lang="scss">
.form-style{
  display: flex;
}
</style>