<template>
  <div>
    <v-form v-model="valid" class="form-style">
      <div v-if="showEditProfile" v-for="(input, index) in getInputs" :key="index" class="form-div">
        <div v-if="input.label == 'Password'">
          <v-text-field :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show1 ? 'text' : 'password'" name="input-10-1" @click:append="show1 = !show1"
                        label="Password"
                        class="input-form" v-model="user[input.name]" :rules="input.rules">
          </v-text-field>
          <div class="progress-container" v-if="user[input.name]">
            <div class="progressbar" :style="`width:${setColor[0]}% ; background-color : ${setColor[1]};` ">
            </div>
          </div>
        </div>
        <v-text-field v-else v-model="user[input.name]" :rules="input.rules" :label="input.label"
                      class="input-form"></v-text-field>
      </div>
<Accesses v-if="!showEditProfile" :access-list="formProp.accesses" @reqChangeAccess="requestChangeAccess"></Accesses>
      <span class="error-contain" v-for="(error, index) in errorList" :key="index">
        <span  class="error-style" v-for="(text, index) in error" :key="index">{{ text }}</span>
      </span>
      <span v-if="responseText != ''" class="success-style">{{ responseText }}</span>
      <div v-if="Object.keys(formProp).length" class="edit-btns">
        <v-btn v-if="showEditProfile" :loading="loading" class="style-btn" @click="editInformation()"
               :disabled="!valid || isDisabledEditButton">edit
        </v-btn>
        <v-btn v-if="showEditProfile" :loading="loading" class="style-btn" @click="showAccesses()"  depressed color="indigo" dark>
          accesses
        </v-btn>
        <v-btn v-else :loading="loading" class="style-btn" @click="showAccesses()" depressed color="indigo" dark>edit profile
        </v-btn>
      </div>
      <div v-else class="btns">
        <v-btn :loading="loading" class="style-btn" @click="signup()" :disabled="!valid"  depressed color="indigo" dark>Signup</v-btn>
        <span @click="goToLogin()" class="login-text-style">login</span>
      </div>
    </v-form>
  </div>
</template>

<script>
import Rules from "@/plugins/rules";
import Accesses from "@/components/Accesses.vue";

export default {
  components: {Accesses},
  props: {
    formProp: {
      type: Object,
      default: () => ({}),
    },
  },
  watch: {
    formProp: function (newVal) {
      this.user = structuredClone(newVal)
    },
    deep: true
  },
  data: function () {
    return {
      user: {},
      showEditProfile:true,
      profileData: {},
      inputList: [
        {label: 'Email', name: 'email', value: '', rules: [Rules.requireData, Rules.emailRule]},
        {label: "Username", name: "username", rules: [Rules.requireData, Rules.usernameRule],},
        {label: 'Password', name: 'password', value: '', rules: [Rules.requireData, Rules.passwordRule]},
        {label: 'Fist name', name: 'first_name', value: '', rules: [Rules.requireData]},
        {label: 'Last name', name: 'last_name', value: '', rules: [Rules.requireData]},
        {label: 'Phone', name: 'phone', value: '', rules: [Rules.phoneRule]},
        {label: 'Address', name: 'address', value: '', rules: []},
      ],
      errorList: [],
      responseText: "",
      valid: false,
      show1: false,
      show2: true,
      loading: false,
      test: false,
      listProgress: [],
    };
  },

  computed: {

    setColor() {
      if (/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$#!%*?&])[A-Za-z\d@$#!%*?&]{8,32}$/.test(this.user["password"])) {
        return [100, "blue"];
      } else if (/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,32}$/.test(this.user["password"])) {
        return [75, "green"];
      } else if (/^(?=.*[a-z])(?=.*\d).{8,32}$/.test(this.user["password"])) {
        return [50, "#DEAF18FF"];
      } else if (/^(?=.*\d).{8,32}$/.test(this.user["password"])) {
        return [25, "red"];
      } else return [0, "#dcdcdc"]
    },


    getInputs() {
      if (Object.keys(this.formProp).length) {
        //
        return this.inputList.filter(
            (item) => !["username", "password"].includes(item.name)
        );
      } else {
        return this.inputList.filter((item) =>
            ["username", "password", "first_name", "last_name", "email"].includes(item.name)
        );
      }
    },

    isDisabledEditButton() {
      this.userString = this.sortObjectAndString(this.user);
      this.orderedUerString = this.sortObjectAndString(this.formProp);
      if (this.userString == this.orderedUerString) {
        return true;
      } else {
        return false;
      }
    },
  }
  ,
  methods: {
    signup() {
      // set token without login
      this.loading = true;
      this.$http
          .post("/user/register/", this.user)
          .then((response) => {
            this.$router.push("/login");
            this.errorList = [];
            this.loading = false;
            this.user = {}
          })
          .catch((error) => {
            this.loading = false;
            this.errorList = [];

            Object.values(error.response.data).forEach((element) => {
              this.errorList.push(element);
            });
          });
    },

    showAccesses(){
       this.showEditProfile = ! this.showEditProfile
    },

    goToLogin() {
      this.$router.push("/login");
    },

    getInformation() {
      this.loading = true;
      this.$http
          .get("/user/profile/")
          .then((response) => {
            this.loading = false;
            this.user = response.data;
            this.orderedUser = {...this.user};
            localStorage.setItem("userId", response.data.id);
          })
          .catch((error) => {
            console.log(error);
          });
    },
    editInformation() {
      this.loading = true;
      this.$http
          .patch("/user/profile/", this.user)
          .then((response) => {
            this.loading = false;
            this.errorList = [];
            this.user = response.data;
            this.$emit('getProfileData')
            this.responseText = "Your information has been successfully changed."
            // this.orderedUser = { ...this.user };
          })
          .catch((error) => {
            this.loading = false;
            this.errorList = [];
            Object.values(error.response.data).forEach((element) => {
              this.errorList.push(element);
            });
          });
    },

    sortObjectAndString(objectForSort) {
      var sorted = {},
          key,
          testList = [];
      var objList = [];
      (objList = Object.entries(objectForSort)),
          objList.forEach((item) => {
            if (item[0]) {
              testList.push(item[0]);
            }
          });

      testList.sort();
      testList.forEach((element) => {
        sorted[element] = objectForSort[element];
      });
      return JSON.stringify(sorted);
    },

    requestChangeAccess(data){
      for (let i=0 ; i< data.length ; i++){
        console.log(data[i])
      }
    }
  },
}
;
</script>

<style lang="scss" scoped>
.input-form {
  width: 90%;
  margin: auto;
}

.form-div {
  width: 90%;
  margin: auto;
}

.style-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgba(138, 138, 138, 0.411);
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.651);
  padding: 60px 20px;
  width: 500px;
  margin: auto;
}

.error-style {
  color: rgb(175, 42, 42);
  font-size: 16px;
  margin-bottom: 10px;
}
.error-contain {
  margin-bottom: 10px;
  background-color: transparent;
}
.success-style {
  color: rgb(9, 126, 25);
  padding: 10px 0;
  font-size: 16px;
}

.btns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-text-style {
  margin-top: 10px;
  color: rgb(51, 11, 138);
  font-size: 18px;
}

.progress-container {
  background-color: #dcdcdc;
  margin: auto;
  width: 90%;
  height: 4px;
}

.progressbar {
  height: 4px;
  transition: all 500ms ease-out;
  margin: 5px 0 0 0;
}
.edit-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
</style>
