<template>
    <div class="user_list_style">
        <v-simple-table>
            <template v-slot:default>
                <thead>
                    <tr>
                        <th class="text-left">
                            Name
                        </th>
                        <th class="text-left">
                            app1
                        </th>
                        <th class="text-left">
                            app2
                        </th>
                        <th class="text-left">
                            app3
                        </th>
                        <th class="text-left">
                            app4
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in desserts" :key="item.name">
                        <td>{{ item.name }}</td>
                        <td>
                            <span v-if="item.app1" class="mdi mdi-close-circle color-error-style">
                            </span>
                            <span v-else  class="mdi mdi-checkbox-marked-circle color-success-style">
                            </span>
                        </td>
                        <td>
                            <span v-if="item.app2" class="mdi mdi-close-circle color-error-style">
                            </span>
                            <span v-else  class="mdi mdi-checkbox-marked-circle color-success-style">
                            </span>
                        </td>
                        <td>
                            <span v-if="item.app3" class="mdi mdi-close-circle color-error-style">
                            </span>
                            <span v-else class="mdi mdi-checkbox-marked-circle color-success-style">
                            </span>
                        </td>
                        <td>
                            <span v-if="item.app4" class="mdi mdi-close-circle color-error-style">
                            </span>
                            <span v-else class="mdi mdi-checkbox-marked-circle color-success-style">
                            </span>
                        </td>
                    </tr>
                </tbody>
            </template>
        </v-simple-table>
    </div>
</template>

<script>

export default {
    data: () => ({
        desserts: [
            {
                name: 'Frozen Yogurt',
                app1: true,
                app4: true,
            },
            {
                name: 'Ice cream sandwich',
                app1: true,
                app2: true,
            },
            {
                name: 'Eclair',
                app1: true,
                app2: true,
                app3: true,
            },
            {
                name: 'Cupcake',
                app1: true,
                app2: true,
            },
            {
                name: 'Gingerbread',
                app1: true,
                app3: true,
                app4: true,
            },
            {
                name: 'Jelly bean',
                app3: true,
                app4: true,
                app1: true,
                app2: true
            },
            {
                name: 'Lollipop',
                app1: true,
            },
            {
                name: 'Honeycomb',
                app1: false,
            },
            {
                name: 'Donut',
                app1: true,
            },
            {
                name: 'KitKat',
                app3: true,
                app4: true,
                app1: true,
                app2: true
            },
        ],
    }),
    computed: {

    },
    methods: {
    }
}
</script>

<style lang="scss">
.user_list_style {
    width: 70%;
    margin: auto
}

.color-success-style{
  color: #1ea42b;
  font-size: 18px;
}

.color-error-style{
  color: #d52424;
  font-size: 18px;
}
</style>