<template>
    <v-container fluid class="text-center">
        <v-row justify="center" align="center" class="flex-column">
            <v-col cols="12" class="text-center d-flex justify-center align-center">
                <div class="icon-contain">
                    <img src="@/assets/images/key-solid.svg" class="icon-form" />
                </div>
            </v-col>
            <v-col cols="12" class="text-center">
                <p class="text-h5" style="color:#cccccc">
                    Login to your acoount.
                </p>
            </v-col>
            <v-form v-model="loginValid">
                <v-row justify="center" align="center">
                    <v-col cols="10" class="pa-0 text-center">
                        <div class="text-subtitle-1 text-medium-emphasis">Username:</div>
                        <v-text-field label="" solo v-model="user.username" :rules="usernameRules"></v-text-field>
                    </v-col>
                    <v-col cols="10" class="pa-0 text-center">
                        <div class="text-subtitle-1 text-medium-emphasis">Password:</div>
                        <v-text-field solo v-model="user.password" :rules="passwordRules"
                            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :type="show1 ? 'text' : 'password'"
                            name="input-10-1" @click:append="show1 = !show1" class="input-login"></v-text-field>
                    </v-col>
                    <v-col lg="11" md="12" sm="11" xs="12" class="text-center pa-0  d-flex justify-center align-center">
                        <Recaptcha @getToken="getToken" />
                    </v-col>
                    <v-col cols="12">
                        <p v-for="(error, index) in errorList" :key="index" class="error-text">
                            {{ error
                            }}</p>
                    </v-col>
                    <v-col cols="10" class="pa-0 text-center">
                        <v-btn color="info" @click="login" :disabled="!loginValid || !disableSignup"
                            style="margin-bottom: 50px;">Login</v-btn>
                    </v-col>
                </v-row>
            </v-form>
        </v-row>
    </v-container>
</template>
<script>
import Rules from "@/plugins/rules";

export default {
    name: "LoginForm",
    data: function () {
        return {
            user: {},
            usernameRules: [Rules.requireData, Rules.usernameRule],
            passwordRules: [Rules.requireData, Rules.passwordRule],
            errorList: [],
            loginValid: false,
            show1: false,
            show2: true,
            captchaToken: ''
        };
    },
    components: {
        Recaptcha: () => import("@/components/captcha/Recaptcha.vue")
    },
    mounted() {
        localStorage.removeItem("token");
        localStorage.removeItem("_grecaptcha");
        localStorage.removeItem("userId");
    },
    computed: {
        disableSignup() {
            if (this.captchaToken.length) {
                return true
            }
            else {
                return false
            }
        }
    },
    methods: {
        getToken(token) {
            this.captchaToken = token
            this.user.token = token
        },
        login() {
            if (this.user.username && this.user.password) {
                this.loading = true
                this.$http
                    .post('/user/login/', this.user)
                    .then((response) => {
                        this.loading = false;
                        this.errorList = []
                        localStorage.setItem('token', response.data.token)
                        this.$router.push('/profile');
                        localStorage.removeItem("_grecaptcha");

                    })
                    .catch((error) => {
                        this.loading = false;
                        this.errorList = []

                        Object.values(error.response.data).forEach(element => {
                            this.errorList.push(element)
                        });
                    })
            }
        },
    }
}
</script>
<style scoped>
.icon-contain {
    background-color: #cccccc;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.icon-form {
    width: 80px;
    height: 80px;
    filter: invert(98%) sepia(2%) saturate(6866%) hue-rotate(205deg) brightness(115%) contrast(102%);
}

.error-text {
    color: rgb(175, 42, 42);
    padding: 4px 0;
    font-size: 14px;
}
</style>
