<template>
    <v-container fluid class="text-center">
        <v-row justify="center" align="center">
            <v-col cols="12" class="text-center d-flex justify-center align-center">
                <div class="icon-contain">
                    <img src="@/assets/images/circle-user-solid.svg" class="icon-form" />
                </div>
            </v-col>
            <v-form action="YOUR_FORM_ACTION" data-kw-has-recaptcha-v2 v-model="formValid">
                <v-row justify="center" align="center">
                    <v-col cols="10" class="pa-0 text-center" style="margin-top: 20px;">
                        <div class="text-subtitle-1 text-medium-emphasis">First Name:</div>
                        <v-text-field label="" solo v-model="user.first_name" :rules="nameRules"></v-text-field>
                    </v-col>
                    <v-col cols="10" class="pa-0 text-center">
                        <div class=" text-subtitle-1 text-medium-emphasis">Last Name:</div>
                        <v-text-field label="" solo v-model="user.last_name" :rules="nameRules"></v-text-field>
                    </v-col>
                    <v-col cols="10" class="pa-0 text-center">
                        <div class="text-subtitle-1 text-medium-emphasis">Username:</div>
                        <v-text-field label="" solo v-model="user.username" :rules="usernameRules"></v-text-field>
                    </v-col>
                    <v-col cols="10" class="pa-0 text-center">
                        <div class="text-subtitle-1 text-medium-emphasis">Password:</div>
                        <v-text-field solo v-model="user.password" :rules="passwordRules"
                            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :type="show1 ? 'text' : 'password'"
                            name="input-10-1" @click:append="show1 = !show1" class="input-login"></v-text-field>
                    </v-col>
                    <v-col lg="11" md="12" sm="11" xs="12" class="text-center pa-0  d-flex justify-center align-center">
                        <Recaptcha @getToken="getToken" />
                    </v-col>
                    <v-col cols="12">
                        <span class="error-text" v-for="(error, index) in errorList" :key="index">
                            {{ error
                            }}</span>
                    </v-col>
                    <v-col lg="11" sm="11" xs="11" class="text-center" style="margin-bottom: 20px;">
                        <v-btn color="info" style="padding :0 60px" :disabled="!formValid || !disableSignup"
                            @click="signup">REGISTER</v-btn>
                    </v-col>
                </v-row>
            </v-form>
        </v-row>
    </v-container>
</template>
<script>
import Rules from "@/plugins/rules";

export default {
    name: "SignupForm",
    components: {
        Recaptcha: () => import("@/components/captcha/Recaptcha.vue")
    },
    data: function () {
        return {
            user: {},
            myForm: document.getElementById('myForm'),
            widgetId1: null,
            formValid: false,
            nameRules: [Rules.requireData],
            usernameRules: [Rules.requireData, Rules.usernameRule],
            passwordRules: [Rules.requireData, Rules.passwordRule],
            errorList: [],
            show1: false,
            show2: true,
            captchaToken: ''
        };
    },
    computed: {
        disableSignup() {
            if (this.captchaToken.length) {
                return true
            }
            else {
                return false
            }
        }
    },
    methods: {
        getToken(token) {
            this.captchaToken = token
            this.user.token = token
            // console.log(token);

        },
        signup() {
            this.loading = true;
            this.$http
                .post("/user/register/", this.user)
                .then((response) => {
                    // this.$router.push("/login");
                    console.log(this.user);
                    this.$emit('submissionSent', 0)
                    this.errorList = [];
                    this.loading = false;
                    this.user = {}
                    localStorage.removeItem("_grecaptcha");

                })
                .catch((error) => {
                    this.loading = false;
                    this.errorList = [];
                    localStorage.removeItem("_grecaptcha");

                    Object.values(error.response.data).forEach((element) => {
                        this.errorList.push(element);
                    });
                });
        },
    }

}
</script>
<style scoped>
.icon-contain {
    background-color: #cccccc;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.icon-form {
    width: 80px;
    height: 80px;
    filter: invert(98%) sepia(2%) saturate(6866%) hue-rotate(205deg) brightness(115%) contrast(102%);
}

.error-text {
    color: rgb(175, 42, 42);
    padding: 4px 0;
    font-size: 14px;
}
</style>
