<template>
  <v-app>
    <Header />
    <router-view />
  </v-app>
</template>

<script>
export default {
  data() {
    return {
    };
  },

  components: {
    Header: () => import("@/components/utility/Header.vue"),
  },
  mounted() {
  },
};
</script>
<style lang="scss"></style>
