<template>
    <div class="container" v-if="carts.length">
        <v-row justify="space-between">
            <v-col cols="12">
                <v-sheet class="pa-2 ma-2">
                    <span class="title-style">Cart</span>
                </v-sheet>
            </v-col>
        </v-row>
        <v-row align="start" justify="start" v-if="carts.length">
            <v-col cols="4" v-for="(cart, index) in carts" :key="index">
                <CartCard :cartProp="cart" @getcartListAgain="getCartList" />
            </v-col>
        </v-row>
        <div class="pagination" v-if="totalPage > 1">
            <img src="@/assets/images/circle-left-regular.svg" class="arrow-atyle" @click="minus" />
            <span class="current">{{ currentPage }} / {{ totalPage }}</span>
            <img src="@/assets/images/circle-right-regular.svg" class="arrow-atyle" @click="plus" />
        </div>
    </div>
    <div v-else class="empty-cart">
        Your shopping cart is empty.
    </div>
</template>
<script >
import CartCard from "@/components/cart/CartCard.vue"
export default {
    components: {
        CartCard,
    },
    mounted() {
        this.getCartList()
    },
    data: () => ({
        isLoading: false,
        carts: [],
        currentPage: 1,
        totalPage: 1,
        item_per_page: 6
    }),

    methods: {
        getCartList() {
            this.isLoading = true,
                this.carts = []

            this.$http
                .get('/cart/', { params: { page: this.currentPage, item_per_page: this.item_per_page } })
                .then((response) => {
                    this.loading = false;
                    if (response.data.total_count > 0) {
                        response.data.result.forEach(element => {
                            this.carts.push(element)
                        });
                    } else {
                        this.carts = []
                    }
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        minus() {
            if (this.currentPage > 1) {
                this.currentPage = this.currentPage - 1;
                this.isLoading = true,
                    this.cards = []
                this.$http
                    .get('/cart/', { params: { page: this.currentPage, item_per_page: this.item_per_page } })
                    .then((response) => {
                        this.loading = false;
                        this.totalPage = response.data.pages
                        response.data.result.forEach(element => {
                            this.cards.push(element)
                        });
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            }
        },
        plus() {
            if (this.currentPage < this.totalPage) {
                this.currentPage = this.currentPage + 1;
                this.isLoading = true,
                    this.cards = []
                this.$http
                    .get('/cart/', { params: { page: this.currentPage, item_per_page: this.item_per_page } })
                    .then((response) => {
                        this.loading = false;
                        this.totalPage = response.data.pages
                        response.data.result.forEach(element => {
                            this.cards.push(element)
                        });
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            }
        },
    },
}
</script>

<style lang="scss" scoped>
.title-style {
    font-size: 40px;
    color: #4c968c;
    font-weight: 600;
    text-decoration: #305c56;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.empty-cart {
    margin: 200px auto;
    width: 500px;
    height: 300px;
    border: 1px solid #305c56;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #50948b;
}

.arrow-atyle {
    width: 30px;
    margin: 0 16px;
}

.current {
    border: 1px solid rgb(24, 115, 94);
    border-radius: 10px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
</style>