<template>
    <div>ssssss</div>
</template>


<script>


export default {
    data: () => ({
    }),
}
</script>

<style lang="scss">
.header {
    width: 100%;
    background-color: rgba(226, 226, 226, 0.904);
    padding: 10px;
    display: flex;
    align-items: center;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.router {
    font-size: 20px;
    text-decoration: none;
    color: rgb(20, 30, 48);
    margin: 0 14px;
}
</style>