<template>
  <div class="header">
    <v-row align="center" justify="center" v-if="isShow">
      <v-col cols="10">
                <span v-for="(item, index) in items" :key="index" class="router" @click=goToPage(item.path)>
                    {{ item.name }}
                </span>
      </v-col>
      <v-col cols="2">
        <v-btn :loading="loading" class="button btn-logout" @click="logout()" outlined
               color="indigo">Logout
        </v-btn>
      </v-col>
    </v-row>
    <v-row align="center" justify="center" v-else>
      <v-col cols="10">
                <span v-for="(item, index) in itemsWithoutToken" :key="index" class="router" @click=goToPage(item.path)>
                    {{ item.name }}
                </span>
      </v-col>
      <!-- <v-col cols="2">
          <v-btn :loading="loading" class="button btn-logout" @click="logout()" color="blue">Logout</v-btn>
      </v-col> -->
    </v-row>
  </div>
</template>

<script>

export default {
  data: () => ({
    items: [
      {name: 'Profile', path: '/profile'},
      {name: 'Admin panel', path: '/admin/users'},
      // { name: 'my products', path: '/product/owner-list' },
      // { name: 'cart', path: '/cart' },
    ],
    itemsWithoutToken: [
      // { name: 'list product', path: '/product/list' },
      {name: 'Login', path: '/login'},
      {name: 'Sign up', path: '/signup'},
      {name: 'Admin panel', path: '/admin-login'},
      // { name: 'Admin panel', path: '/admin/users' },
      // { name: 'login 2', path: '/login-prime' },
    ],
    loading: false

  }),
  computed: {
    isShow() {
      return this.$store.state.user.loggedIn;
    }
  },
  methods: {
    logout() {
      this.loading = true
      this.$http
          .delete('/user/logout/')
          .then((response) => {
            localStorage.removeItem("token");
            this.$router.push('/login')
            this.$store.commit("logout");
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            console.log(error)
          })

    },
    goToPage(path) {
      this.$router.push(path);
    }
  }
}
</script>

<style lang="scss">
.header {
  width: 100%;
  background-color: rgba(226, 226, 226, 0.904);
  padding: 10px;
  display: flex;
  align-items: center;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.router {
  font-size: 20px;
  text-decoration: none;
  color: rgb(20, 30, 48);
  cursor: pointer;
  margin: 0 14px;
}
</style>