<template>
  <div>
    <div v-for="(snack, i) in snacksComput" :key="i">
      <v-snackbar
        v-model="snack.show"
        auto-height
        :multi-line="multiLine"
        :color="snack.type ? colors[snack.type] : 'primary'"
        :timeout="
          snack.closeButton
            ? -1
            : Boolean(snack.timeout)
            ? snack.timeout
            : '4000'
        "
        :style="{
          'margin-bottom': i * 75 + 'px', //--- Puts snacks on top of eachother ----//
        }"
        bottom
        right>
        <!-- :style="{ 'margin-bottom': calcMargin(i) }" -->
        <!-- use compute for style -->

        <!-- :top="snack.top"
            :bottom="snack.bottom"
            :left="snack.left"
            :right="snack.right"
            :centered="snack.centered" -->

        <v-layout column>
          <div>
            <v-icon small>{{ snack.icon }} </v-icon>
          </div>
          <div class="ml-3">
            <span v-html="snack.text" />
            <!-- <br> -->
            <!-- <slot name="snackText"></slot> -->
          </div>
        </v-layout>

        <template v-slot:action="{ attrs }">
          <v-btn
            text
            v-bind="attrs"
            @click="snack.show = false"
            v-if="snack.closeButton">
            <span v-html="'Close'" />
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </div>
</template>

<script>
export default {
  name: "SnackBar",

  data() {
    return {
      multiLine: true,
      colors: {
        warning: "#F5BC00",
        success: "#2CBE60",
        error: "#EF3E36",
        help: "#0099FF",
        info: "#2E4A76",
      },
      snacks: [],
      snackIds: [],
    };
  },

  mounted() {
    console.log(this.$store.getters.snacks);
  },

  computed: {
    //---- Sorts snacks according to timeout | removes timedout snacks ----//
    snacksComput() {
      // console.log("comput :", this.snacks);
      let snacksClone = structuredClone(this.snacks);

      let notClose = snacksClone.filter((sn) => !sn.closeButton);
      let hasClose = snacksClone.filter((sn) => sn.closeButton);

      notClose.sort((a, b) => (+a.timeout < +b.timeout ? 1 : -1));

      hasClose.forEach((element) => {
        //add to zero index to up
        notClose.unshift(element);
      }); 

      this.snacks = notClose;
      return this.snacks;
    },
  },

  watch: {
    "$store.state.snacks": {
      immediate: true,
      deep: true,
      handler() {
        this.$store.state.user.loggedIn;
        if (this.$store.getters.snacks.length > 0) {
          this.$store.getters.snacks.forEach((elm) => {
            elm.show = true;
            elm.id = this.randomId();
            this.snacks.push(elm);
          });
          // console.log("new snack: ", this.snacks);
          this.$store.state.snacks = [];
        }
      },
    },
  },
  methods: {
    //---- Generates random id for snacks -----//
    randomId() {
      const result =
        Math.random().toString(36).substring(2, 7) +
        Math.random().toString(36).substring(2, 3);
      if (this.snackIds.includes(result)) {
        const newresult =
          Math.random().toString(36).substring(2, 7) +
          Math.random().toString(36).substring(2, 3);
        this.snackIds.push(newresult); 
        return newresult;
      }
      this.snackIds.push(result);
      // console.log("ids:",this.snackIds);
      return result;
    },

    // calcMargin(index) {
    //   return {
    //     "margin-bottom": index * 75 + "px",
    //   };
    // },

    // removeSnack(index){
    //   this.getSnacks.splice(index, 1)
    // },
  },
};
</script>
